<div class="container-fluid">
    <div class="well">
      <h2>Enter a zipcode:</h2>
      <input class="form-control" placeholder="Zipcode" type="number" name="zipcodeCandidate" [(ngModel)]="zipcodeCandidate"/>
      <br>
      <button class="btn btn-primary" (click)="AddZipcodeCommand()">Add location</button>
    </div>    
    <div class="w3-row w3-center w3-small" *ngFor="let item of weathers | keyvalue | sortWeatherZipcodes">
        <div class="w3-col l3 m6 s12">
            <div class="float-left">
              <h3>{{item.value.name}}</h3>
              <h4>Current conditions: {{item.value.weather[0].main}}</h4>
              <h4>Temperatures today:</h4>
              <p>
                Current {{item.value.main.temp | temperature : 'F'}}
                - Max {{item.value.main.temp_max | temperature : 'F'}}
                - Min {{item.value.main.temp_min | temperature : 'F'}}
              </p>
              <p>
                <a [routerLink]="['/forecast', item.key]">Show 5-day forecast for {{item.value.name}}</a>
              </p>
            </div>
            <div class="float-left">
              <span class="close" (click)="RemoveZipcodeCommand(item.key)">×</span>
              <img [src]="item.value.weather[0].main | weatherIcon">
            </div>
        </div>
    </div>    
</div>
